name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tools
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Configure (CMake)
        run: |
          mkdir -p build
          cd build
          cmake -DBUILD_TESTS=ON ..

      - name: Build
        run: |
          cd build
          cmake --build . -- -j$(nproc)

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure -j1
